{{!-- Primary Meta Tags --}}
<meta charset="utf-8">
<title>{{ website.title }}</title>
<meta name="title" content="{{ website.title }}">
<meta name="description" content="{{ website.meta.description }}">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="canonical" href="{{ website.canonical }}">


{{!-- Open Graph / Facebook --}}
<meta property="og:type" content="website">
<meta property="og:url" content="{{ website.meta.url }}">
<meta property="og:title" content="{{ website.title }}">
<meta property="og:description" content="{{ website.meta.description }}">
<meta property="og:image" content="https://metatags.io/assets/meta-tags-16a33a6a8531e519cc0936fbba0ad904e52d35f34a46c97a2c9f6f7dd7d336f2.png">

{{!-- Twitter --}}
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="{{ website.meta.url }}">
<meta property="twitter:title" content="{{ website.title }}">
<meta property="twitter:description" content="{{ website.meta.description }}">
<meta property="twitter:image" content="https://metatags.io/assets/meta-tags-16a33a6a8531e519cc0936fbba0ad904e52d35f34a46c97a2c9f6f7dd7d336f2.png">

{{!-- Vendors --}}
<link rel="stylesheet" href="/vendors/bootstrap.min.css">
